html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    align-items: center;
    background: #EFEFEF;
    display: flex;
    flex-direction: column;
    font-family: Avenir, 'Source Sans Pro', sans-serif;
    justify-content: center;
}

body * {
    box-sizing: border-box;
}

header {
    box-sizing: border-box;
    flex: 0 1 auto;
    text-align: center;
}

h1 {
    font-family: Didot, 'GFS Didot', serif;
    font-size: 5rem;
    margin: 0 3.5rem;
}

h2 {
    font-family: Didot, 'GFS Didot', serif;
    font-size: 4rem;
    margin: 0 3rem;
}

img {
    width: 100%;
    max-width: 24rem;
    margin: 2rem;
}

a {
    color: #DA3296;
    text-decoration: none;
}

abbr {
    text-decoration: none;
}

main {
    display: flex;
    flex: 1;
    width: calc(100% - 4rem);
}

main > div {
    margin: 0 auto;
    max-width: 64rem;
}

main p {
    font-size: 2.6rem;
}

main a {
    font-weight: 800;
}

footer {
    background-color: #7986e5;
    padding: 1rem 1rem 2rem;
    width: 100%;
}

footer > div {
    color: white;
    display: flex;
    flex-direction: row;
    font-family: Avenir, 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 64rem;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    padding: .25rem;
}

footer span {
    display: block;
}

footer a {
    color: white;
    font-style: italic;
    text-decoration: none;
}

footer a:hover {
    color:white;
}

#surprise {
    color: red;
    font-size: 2.25rem;
}

@media only screen and (min-width: 640px) {
    footer span {
        display: inline;
    }
}

