body {
    background-image: url(https://i.imgur.com/X6n8zAe.jpg);
}

h3 {
    font-size: 20px;
}

form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 3px;
    padding: 20px;
    transition-duration: 0.4s;
    margin: 40px;
}

#number-of-members {
    margin-top: 15%;
    height: 200px;
    width: 300px;
    display: block;
    transition-duration: 0.4s;
}

#family-ages {
    text-align: center;
    width: 400px;

}

#results {
    width: 1000px;
}

.result-labels {
    margin-left: 30px;
}

input,
textarea {
    border: 2px solid rgb(132, 241, 205);
    text-align: center;
    border-radius: 3px;
    height: 30px;
    margin: 10px;
}

input:disabled,
textarea {
    background-color: white;
}

button {
    font-size: 15px;
    background-color: rgb(132, 241, 205);
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 100px;
    transition-duration: 0.1s;
}

button:hover {
    border: 2px solid rgb(132, 241, 205);
    background-color: white;
    font-weight: bold;



}

#reveal-after {
    display: none;
}

ol,
li
{
    list-style-type: none;
    margin: none;
}

.error {
    border: 2px solid red;
}

.error-hide {
    display: none;
}