#cantidad-integrantes {
    margin-top: 5px;
}

#contenedor-pre-existente .pre-existente {
    display: grid;
    margin: 0 0 15px;
}
#calcular {
    margin-bottom: 20px;
    margin-top: 10px;
}

#integrantes .salario-integrante {
    margin-bottom: 15px;
}
