body,
ul {
  margin: 0;
  padding: 0;
}
#container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 15px;
  background: rgb(220, 211, 211);
  font-family: 'Segoe UI', sans-serif;
}

h1 {
  text-align: center;
  font-size: 26px;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}
